certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.8
click==8.0.3
click-default-group==1.2.2
cloup==0.7.1
colorama==0.4.4
colour==0.1.5
commonmark==0.9.1
Cython==0.29.24
glcontext==2.3.4
idna==3.3
imageio==2.13.0
imageio-ffmpeg==0.4.5
imtools==2.0.1
imutils==0.5.4
isosurfaces==0.1.0
manim==0.12.0
manimlib==0.2.0
ManimPango==0.3.1
mapbox-earcut==0.12.11
moderngl==5.6.4
moderngl-window==2.4.0
moviepy<=1.0.3
multipledispatch==0.6.0
networkx==2.6.3
numpy==1.21.4
opencv-python==4.5.4.60
Pillow==8.4.0
proglog==0.1.9
progressbar==2.5
pycairo==1.20.1
pycparser==2.21
pydub==0.25.1
pyglet==1.5.21
Pygments==2.10.0
pyrr==0.10.3
python-utils==2.5.6
requests==2.26.0
rich==10.15.1
scipy==1.7.3
screeninfo==0.6.7
six==1.16.0
skia-pathops==0.7.1
SoundFile==0.10.3.post1
tqdm==4.62.3
urllib3==1.26.7
watchdog==2.1.6
